#container { 
	width:990px;
	/*max-width: 80em; */
	/*background: #FFFFFF url(../images/left-col2.png)repeat-y -0.1em;*/
	background:#fff;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
} 

#header {
    background: url("../images/banner.png");
    height: 120px;
    border: 1px solid #000000;
}

#operations {
    height: 600px;
    width: 150px;
    border: 1px solid #000000;
    padding-top: 1.3em;
    position: relative;
}
#operations p{
    position: relative;
    left: 10px;
}

#working_area {
    border: 1px solid #000000;
    height: 600px;
    margin-left: 150px;
    margin-top: -623px;
    padding-left: 3px;
    padding-top: 1.3em;
    width: auto;
    overflow: auto;
}
#log {
    background-color:black;
    color: white;
    overflow: auto;
    height: 80px;
    text-align: center;
    font-size:12px;
}
#loading {
    border: 1px solid #000000;
    height: 600px;
    margin-left: 150px;
    margin-top: -623px;
    padding-left: 3px;
    padding-top: 1.3em;
    width: auto;
    overflow: auto;
    background: url('../images/loading.gif') no-repeat 30% 30%;
}
.selected{
    background-color: #FFFFC4;
}
.unique{
    background-color: #E3FFD7;
}
.notSelected{
    background-color: white;
}
th{
    cursor: pointer;
}
#ontology{
    color: red;
    font-size: 14px;
}

.glt-elm{
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	color: #fff;
	opacity: 0.9;
	visibility: hidden;
}

.glt-elm p{
	background: #666;
	margin: 0;
	padding: 0.5em;
}

.glt-elm img{
	display: block;
}



#edit{
	width: 30px;
	height: 30px;
	background:url('../images/icons/edit.png');
	background-size:30px 30px;
	background-repeat:no-repeat;
	cursor: pointer;
}
#removeFolder{
	width: 30px;
	height: 30px;
	background: url('../images/icons/folder-delete.png');
	background-size:30px 30px;
	background-repeat:no-repeat;
	cursor: pointer;
}
#remove{
	width: 30px;
	height: 30px;
	background: url('../images/icons/file-delete.png');
	background-size:30px 30px;
	background-repeat:no-repeat;
	cursor: pointer;
}
