.tip_form {
    z-index: 1000;
    text-align: left;    
    border-radius: 4px;    
    -moz-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    padding: 8px 8px;    
    max-width: 400px;    
    color: black    ;    
    background-color: white;    
    text-align: left;    
    font-size: 12px;
}
.tip_form .tip-inner {    
    font-size: 100%;
}
.tip_form .tip-arrow-top {    
    margin-top: -5px;    
    margin-left: -5px; 
    /* approx. half the width to center it */    
    top: 0;    
    left: 50%;    
    width: 9px;    
    height: 5px;
}
.tip_form .tip-arrow-right {    
    margin-top: -4px; 
    /* approx. half the height to center it */    
    margin-left: 0;    
    top: 50%;    
    left: 100%;    
    width: 5px;    
    height: 9px;
}
.tip_form .tip-arrow-bottom {    
    margin-top: 0;    
    margin-left: -5px; 
    /* approx. half the width to center it */    
    top: 100%;    
    left: 50%;    
    width: 9px;    
    height: 5px;
}
.tip_form .tip-arrow-left {    
    margin-top: -4px; 
    /* approx. half the height to center it */    
    margin-left: -5px;    
    top: 50%;    
    left: 0;    
    width: 5px;    
    height: 9px;
}
#facebox {
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 100;
}
#facebox .popup {
    border: 3px solid transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    position: relative;
}
#facebox .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    min-width: 370px;
    padding: 10px;
}
#facebox .content > p:first-child {
    margin-top: 0;
}
#facebox .content > p:last-child {
    margin-bottom: 0;
}
#facebox .close {
    padding: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#facebox .close img {
    opacity: 0.3;
}
#facebox .close:hover img {
    opacity: 1;
}
#facebox .loading {
    text-align: center;
}
#facebox .image {
    text-align: center;
}
#facebox img {
    border: 0 none;
    margin: 0;
}
#facebox_overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.facebox_hide {
    z-index: -100;
}
.facebox_overlayBG {
    background-color: #000000;
    z-index: 99;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    color: black;
    height: 100%;
}
body {
    background-color: white;
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
}
#main {
}
table {
    font-size: inherit;
}
input[type="text"], input[type="password"], input[type="image"], textarea {
    font: 99% helvetica,arial,freesans,sans-serif;
}
select, option {
    padding: 0 0.25em;
}
optgroup {
    margin-top: 0.5em;
}
input.text {
    padding: 1px 0;
}
pre, code {
    font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
body * {
    line-height: 1.4em;
}
p {
    margin: 1em 0;
}
img {
    border: 0 none;
}
abbr {
    border-bottom: medium none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
html {
    overflow-y: scroll;
}
a {
    color: #4183C4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.usingMouse a {
    outline: medium none;
}
a.danger {
    color: #CC0000;
}
a.action {
    color: #DD0000;
    text-decoration: underline;
}
.sparkline {
    display: none;
}
.right {
    float: right;
}
.left {
    float: left;
}
.hidden {
    display: none;
}
img.help {
    vertical-align: middle;
}
.notification {
    background: none repeat scroll 0 50% #FFFBE2;
    border: 1px solid #FFE222;
    font-weight: bold;
    margin: 1em 0;
    padding: 1em;
}
.warning {
    background: none repeat scroll 0 0 #FFFCCC;
    font-weight: bold;
    margin-bottom: 0.8em;
    padding: 0.5em;
}
.error_box {
    background: none repeat scroll 0 50% #FFEBE8;
    border: 1px solid #DD3C10;
    font-weight: bold;
    padding: 1em;
}
.rule {
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
}
.corner {
    border-radius: 8px 8px 8px 8px;
    padding: 3px;
}
#spinner {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 16px;
    margin-right: 0;
    width: 16px;
}
.clear {
    clear: both;
}
.columns:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
* html .columns {
    height: 1%;
}
.columns {
    display: inline-block;
}
.columns {
    display: block;
}
#facebox .content {
    background: -moz-linear-gradient(100% 100% 107deg, #FFFFFF, #F4F9FB) repeat scroll 0 0 transparent;
    color: #333333;
    font-size: 12px;
    width: 425px;
}
#facebox .content.wider {
    width: 500px;
}
#facebox pre {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #DDDDDD #EEEEEE #EEEEEE #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
}
#facebox pre.console {
    background: none repeat scroll 0 0 #333333;
    border-color: #000000 #333333 #333333 #000000;
    color: #FFFFFF;
}
#facebox ul, #facebox ol {
    margin: 15px 0 15px 20px;
}
#facebox ul li {
    margin: 5px 0;
}
#facebox h2 {
    border-bottom: 1px solid #DDDDDD !important;
    font-size: 16px;
    margin: 0 0 10px -10px;
    padding: 0 10px 10px;
    width: 100%;
}
#facebox h3 {
    color: #000000;
    font-size: 14px;
    margin-bottom: -0.5em;
}
#facebox .rule {
    margin-left: -10px;
    padding: 0 10px;
    width: 100%;
}
#facebox input[type="text"] {
    font-size: 12px;
    padding: 5px;
    width: 96%;
}
#facebox .form-actions {
    margin-top: 10px;
}
#facebox .warning {
    background: url("/images/icons/bigwarning.png") no-repeat scroll 10px 50% #FFFBC9;
    border-bottom: 1px solid #EDE7A3;
    color: #990000;
    font-weight: bold;
    margin-left: -10px;
    margin-top: -9px;
    padding: 5px 10px;
    width: 100%;
}
#facebox .warning p {
    margin-left: 45px;
}
#facebox .full-button {
    margin-top: 10px;
}
#facebox .full-button .classy {
    display: block;
    margin: 0;
    width: 100%;
}
#facebox .full-button .classy span {
    display: block;
    text-align: center;
}
.form-actions {
    padding-bottom: 5px;
    padding-right: 2px;
    text-align: right;
}
.form-actions .cancel {
    float: left;
    margin-top: 5px;
}
.form-actions .button.cancel {
    margin-left: 2px;
    margin-top: 0;
}
.form-actions .minibutton.cancel {
    margin-top: 0;
}
.form-actions .optional {
    display: block;
    float: left;
    margin-right: 15px;
    padding-top: 8px;
}
.form-actions .optional span.text {
    padding: 0 3px;
}
.form-actions .optional input {
    position: relative;
    top: -1px;
}
.form-warning {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFE2;
    border-color: #DDDDDD -moz-use-text-color;
    border-style: solid none;
    border-width: 1px medium;
    color: #333333;
    font-size: 14px;
    margin: 10px 0;
    padding: 8px 5px;
}
.form-warning p {
    line-height: 1.5;
    margin: 0;
}
.form-warning strong {
    color: #000000;
}
.form-warning a {
    font-weight: bold;
}
button.classy, a.button.classy {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(-90deg, #FFFFFF, #E1E1E1) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #EBEBEB;
    border-radius: 4px 4px 4px 4px;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #333333;
    cursor: pointer;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 34px;
    margin-left: 10px;
    overflow: visible;
    padding: 0;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    top: 1px;
    white-space: nowrap;
}
a.button.classy {
    display: inline-block;
}
button.classy span, a.button.classy span {
    display: block;
    height: 34px;
    line-height: 36px;
    padding: 0 13px;
}
button.classy.glowing, a.button.classy.glowing {
    background: -moz-linear-gradient(-90deg, #FFFAD5, #E6E1C0) repeat scroll 0 0 transparent;
    border-bottom-color: #ECEAD5;
}
button.classy.silver, a.button.classy.silver {
    background: -moz-linear-gradient(-90deg, #FDFDFD, #9A9A9A) repeat scroll 0 0 transparent;
    border-bottom-color: #C7C7C7;
    color: #000000;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
button.classy.silver:hover, a.button.classy.silver:hover {
    background: -moz-linear-gradient(-90deg, #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    border-bottom-color: #F7F7F7;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.3);
    color: #000000;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
button.classy.business-plan, a.button.classy.business-plan {
    background: -moz-linear-gradient(-90deg, #419B36, #357F2C) repeat scroll 0 0 transparent;
    border-bottom-color: #3E9533;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.business-plan:hover, a.button.classy.business-plan:hover {
    background: -moz-linear-gradient(-90deg, #1CBE0A, #158F07) repeat scroll 0 0 transparent;
    border-bottom-color: #18A609;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.personal-plan, a.button.classy.personal-plan {
    background: -moz-linear-gradient(-90deg, #4794BC, #3A7999) repeat scroll 0 0 transparent;
    border-bottom-color: #438BB1;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.danger:hover, a.button.classy.danger:hover {
    background: -moz-linear-gradient(-90deg, #DC5F59, #B33630) repeat scroll 0 0 transparent;
    border-bottom-color: #CD504A;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.danger.mousedown, a.button.classy.danger.mousedown {
    background: -moz-linear-gradient(-90deg, #B33630, #DC5F59) repeat scroll 0 0 transparent;
    border-bottom-color: #DC5F59;
}
button.classy.oauth, a.button.classy.oauth, .login_form form .submit_btn input {
    background: -moz-linear-gradient(-90deg, #4794BC, #3A7999) repeat scroll 0 0 transparent;
    border-bottom-color: #438BB1;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.danger, a.button.classy.danger {
    color: #990000;
}
button.classy:hover, a.button.classy:hover {
    background: -moz-linear-gradient(-90deg, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;
    border-bottom-color: #0770A0;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.mousedown, a.button.classy.mousedown {
    background: -moz-linear-gradient(90deg, #0CA6DD, #0770A0) repeat scroll 0 0 transparent;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
button.classy.mousedown span, a.button.classy.mousedown span {
    background-position: 0 -120px;
}
button.classy::-moz-focus-inner {
    margin: -1px -3px;
}
button.classy img, a.button.classy img {
    margin-right: 3px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}
button.classy:disabled, .button.classy.disabled {
    opacity: 0.5;
}
.minibutton {
    background: -moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
    border: 1px solid #D4D4D4;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    overflow: visible;
    padding: 0 0 0 3px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}
button.minibutton {
    height: 23px;
}
.minibutton.lighter, .minibutton.lighter.disabled {
    background: -moz-linear-gradient(center top , #FAFAFA, #DDDDDD) repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.minibutton.green {
    background: -moz-linear-gradient(center top , #36B825, #28881B) repeat scroll 0 0 transparent;
    border-color: #4A993E;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton.blue {
    background: -moz-linear-gradient(center top , #448DA6, #32687B) repeat scroll 0 0 transparent;
    border-color: #275666;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
input[type="text"] + .minibutton {
    margin-left: 5px;
}
button.minibutton::-moz-focus-inner {
    margin: -1px -3px;
}
.minibutton.danger {
    color: #990000;
}
.minibutton > span {
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}
.minibutton:hover {
    background: -moz-linear-gradient(center top , #599BDC, #3072B3) repeat scroll 0 0 transparent;
    border-color: #518CC6 #518CC6 #2A65A0;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton.mousedown {
    background: -moz-linear-gradient(center top , #3072B3, #599BDC) repeat scroll 0 0 transparent;
    border-color: #2A65A0 #2A65A0 #518CC6;
}
.minibutton.danger:hover {
    background: -moz-linear-gradient(center top , #DC5F59, #B33630) repeat scroll 0 0 transparent;
    border-color: #C65651 #C65651 #A0302A;
}
.minibutton.danger.mousedown {
    background: -moz-linear-gradient(center top , #B33630, #DC5F59) repeat scroll 0 0 transparent;
    border-color: #A0302A #A0302A #C65651;
}
.minibutton.disabled {
    opacity: 0.5;
}
.minibutton.selected {
    background: -moz-linear-gradient(center top , #767676, #9E9E9E) repeat scroll 0 0 transparent;
    border-color: #686868;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
.btn-admin .icon, .btn-watch .icon, .btn-download .icon, .btn-pull-request .icon, .btn-fork .icon, .btn-leave .icon, .btn-compare .icon, .btn-reply .icon, .btn-back .icon, .btn-forward .icon {
    background: url("/images/modules/buttons/minibutton_icons.png?v20100306") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    margin-left: -4px;
    position: relative;
    top: -1px;
    width: 18px;
}
.btn-forward .icon {
    float: right;
    margin-left: 0;
    margin-right: -4px;
}
.btn-admin .icon {
    background-position: 0 0;
    width: 16px;
}
.btn-admin:hover .icon {
    background-position: 0 -25px;
}
.btn-watch .icon {
    background-position: -20px 0;
}
.btn-watch:hover .icon {
    background-position: -20px -25px;
}
.btn-download .icon {
    background-position: -40px 0;
}
.btn-download:hover .icon {
    background-position: -40px -25px;
}
.btn-pull-request .icon {
    background-position: -60px 0;
    width: 17px;
}
.btn-pull-request:hover .icon {
    background-position: -60px -25px;
}
.btn-fork .icon {
    background-position: -80px 0;
    width: 17px;
}
.btn-fork:hover .icon {
    background-position: -80px -25px;
}
.btn-leave .icon {
    background-position: -120px 0;
    width: 15px;
}
.btn-leave:hover .icon {
    background-position: -120px -25px;
}
.btn-compare .icon {
    background-position: -100px 0;
    width: 17px;
}
.btn-compare:hover .icon {
    background-position: -100px -25px;
}
.btn-reply .icon {
    background-position: -140px 0;
    width: 16px;
}
.btn-reply:hover .icon {
    background-position: -140px -25px;
}
.btn-back .icon {
    background-position: -160px 0;
    width: 16px;
}
.btn-back:hover .icon {
    background-position: -160px -25px;
}
.btn-forward .icon {
    background-position: -180px 0;
    width: 16px;
}
.btn-forward:hover .icon {
    background-position: -180px -25px;
}
ul.big-actions {
    float: right;
    margin: 15px 0 10px;
}
ul.big-actions li {
    float: left;
    list-style-type: none;
    margin: 0;
}
.big-actions .minibutton, .minibutton.bigger {
    font-size: 12px;
    height: 24px;
    padding: 0 0 0 3px;
}
.big-actions .minibutton > span, .minibutton.bigger > span {
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 8px;
}
.comments-wrapper {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 5px 5px 5px 5px;
    margin: 10px 0;
    padding: 5px;
}
.comments-wrapper > .comment:first-child {
    margin-top: 0;
}
.comments-wrapper > .comment:last-child {
    margin-bottom: 0;
}
.new-comments .comment {
    border: 1px solid #CACACA;
    margin: 10px 0;
}
.new-comments .comment.adminable:hover {
    border-color: #AAAAAA;
}
.new-comments .comment .cmeta {
    background: url("/images/modules/comments/metabar.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #CCCCCC;
    height: 33px;
    padding: 0 6px;
}
.new-comments .commit-comment .cmeta, .new-comments .review-comment .cmeta, .new-comments .file-commit-comment .cmeta, .new-comments .gist-comment .cmeta, .new-comments .commit-list-comment .cmeta {
    background-position: 0 -33px;
}
.new-comments .repo-owner-tag .cmeta, .new-comments .gist-owner-tag .cmeta {
    background-position: 0 -66px;
}
.new-comments .comment .cmeta p.author {
    float: left;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    white-space: nowrap;
}
.new-comments .comment .cmeta p.author a {
    color: #222222;
}
.new-comments .comment .cmeta p.author em a, .new-comments em.date a {
    color: #666666;
    font-style: normal;
}
.new-comments .comment .cmeta .gravatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C8C8C8;
    display: inline-block;
    font-size: 1px;
    line-height: 1px;
    margin-right: 3px;
    margin-top: -2px;
    padding: 1px;
    vertical-align: middle;
}
.new-comments .comment .cmeta code {
    font-size: 11px;
}
.new-comments .comment .cmeta p.author em code a {
    color: #444444;
}
.new-comments .comment .cmeta p.info {
    float: right;
    font-size: 11px;
    height: 33px;
    line-height: 33px;
    margin: 0;
}
.new-comments .comment .cmeta p.info em.date {
    color: #777777;
    display: inline;
    font-style: normal;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}
.new-comments .comment .cmeta p.info em.date, .comment .cmeta p.info em.date abbr {
    line-height: 33px;
}
.new-comments .comment .cmeta .icon {
    background: url("/images/modules/comments/icons.png?v3") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: middle;
    width: 16px;
}
.new-comments .comment .cmeta .author .icon {
    margin-left: 0;
}
.new-comments .commit-comment .cmeta .icon, .new-comments .gist-comment .cmeta .icon, .new-comments .review-comment .cmeta .icon, .new-comments .gist-comment .cmeta .icon {
    background-position: 0 -100px;
}
.new-comments .file-commit-comment .cmeta .icon {
    background-position: 0 -200px;
}
.new-comments .commit-list-comment .cmeta .icon {
    background-position: 0 -300px;
}
.new-comments .tag {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #2D90C3;
    border-color: #26749C #2D90C3 #2D90C3 #26749C;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 11px;
    margin-left: 5px;
    padding: 1px 5px;
    position: relative;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    top: -1px;
}
.new-comments .repo-owner-tag .tag, .new-comments .gist-owner-tag .tag {
    background: none repeat scroll 0 0 #2CC03E;
    border-color: #259A33 #2CC03E #2CC03E #259A33;
}
.new-comments .comment .body {
    background: none repeat scroll 0 0 #FBFBFB;
    color: #333333;
    font-size: 12px;
    overflow: auto;
    padding: 0 6px;
    position: relative;
}
.new-comments .highlighted .comment .body {
    background: none repeat scroll 0 0 #FFFFFF;
}
.new-comments .comment .body p {
    margin: 10px 0;
}
.new-comments .comment .content-body img {
    max-width: 100%;
}
.new-comments .comment .body .title {
    border-bottom: 1px solid #DDDDDD;
    color: #000000;
    font-weight: bold;
    padding: 5px 0;
}
.new-comments .inset {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F1F1F1;
    border-color: #CCCCCC #E5E5E5 #E5E5E5 #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}
.new-comments .commit-inset {
    background-color: #E3EAEE;
    border-color: #B9C7D1 #DBE5EB #DBE5EB #B9C7D1;
}
.new-comments .inset.highlighted {
    background-color: #FFFFDD;
    border-color: #CFCFB4 #F1F1C7 #F1F1C7 #CFCFB4;
}
.new-comments .inset .comment {
    margin: 5px 0;
}
.new-comments .inset .comment:first-child {
    margin-top: 0;
}
.new-comments .inset .comment:last-child {
    margin-bottom: 0;
}
.new-comments .inset h5 {
    color: #666666;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}
.new-comments .commit-inset h5 {
    color: #6C777F;
}
.new-comments .commit-list-comment .body {
    padding: 0;
}
#compare .new-comments .commit-list-comment table.commits {
    border-width: 0;
    margin-top: 0;
}
.new-comments .comment ul.actions {
    display: none;
    margin: 0;
    position: absolute;
    right: 5px;
    top: 5px;
}
.new-comments .adminable:hover ul.actions {
    display: block;
}
.new-comments ul.actions li {
    float: left;
    list-style-type: none;
    margin: 0 0 0 5px;
}
.comment .form-content {
    margin: 10px 0;
}
.starting-comment .form-content {
    margin-top: 0;
}
.comment .form-content textarea {
    height: 100px;
    margin: 0;
    width: 100%;
}
.comment .form-content input[type="text"] {
    margin-bottom: 5px;
    padding: 4px 2px;
    width: 99%;
}
.comment .form-content input.title-field {
    font-size: 20px;
    font-weight: bold;
}
.comment .form-content .form-actions {
    margin: 10px 0 0;
}
.comment p.error {
    color: #FF0000;
    font-weight: bold;
}
.comment .error, .comment .context-loader {
    display: none;
}
.comment .form-content {
    display: none;
    opacity: 1;
}
.comment.editing .formatted-content, .comment.editing .content-title, .comment.editing .infobar {
    display: none;
}
.comment.editing .form-content {
    display: block;
    opacity: 1;
}
.comment.loading .context-loader {
    display: block;
}
.comment.loading .formatted-content, .comment.loading .form-content {
    opacity: 0.5;
}
.comment.error .error {
    display: block;
}
.new-comments .closed-banner {
    background: url("/images/modules/comments/closed_pattern.gif") repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    height: 7px;
    margin: 15px 0;
    overflow: hidden;
}
.user-mention {
    color: #333333;
    font-weight: bold;
}
.message .user-mention {
    font-weight: normal;
}
.email-format div {
    white-space: pre-wrap;
}
.formatted-content .email-format {
    line-height: 1.5em !important;
    padding: 1em 0 !important;
}
.email-fragment, .email-quoted-reply {
    margin-bottom: 10px;
}
.email-quoted-reply, .email-signature-reply {
    color: #500050;
}
.email-quoted-reply a {
    color: #500050;
}
.email-hidden-reply {
    display: none;
}
.email-hidden-toggle {
    display: block;
    font-size: 75%;
}
.line-comments {
    background: none repeat scroll 0 0 #FAFAFA !important;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #CCCCCC;
    font-family: helvetica,arial,freesans,sans-serif !important;
    overflow: auto;
    padding: 0;
}
.line-comments .clipper {
    padding: 5px;
    width: 837px;
}
tr:hover .line-comments {
    background: none repeat scroll 0 0 #FAFAFA !important;
}
.line_numbers.comment-count {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6 !important;
    background-image: url("/images/modules/comments/lines_back.gif");
    background-position: left top, right top;
    background-repeat: repeat-y;
    border-color: #DDDDDD -moz-use-text-color;
    border-style: solid none;
    border-width: 1px medium;
    overflow: hidden;
    padding: 0 !important;
    text-align: center !important;
    vertical-align: top;
}
.line_numbers.comment-count .counter {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/images/modules/comments/icons.png") no-repeat scroll 5px -97px #D6E3E8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: -moz-use-text-color #C0CCD0 #C0CCD0;
    border-right: 1px solid #C0CCD0;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #333333 !important;
    cursor: default !important;
    display: inline-block;
    font-family: helvetica,arial,freesans,sans-serif !important;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.2;
    padding: 4px 8px 5px 24px;
}
.line-comments .comment-form {
    background-color: #EAEAEA;
    margin: 10px 0 5px;
}
.line-comments .comment-form textarea {
    font-size: 12px;
}
.line-comments .show-inline-comment-form {
    padding-top: 5px;
}
.line-comments .inline-comment-form .minibutton {
    margin-top: -11px;
}
.line-comments .inline-comment-form .ajaxindicator {
    display: inline-block;
    height: 13px;
    margin-top: -5px;
}
.file-comments {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #DDDDDD;
    font-family: helvetica,arial,freesans,sans-serif !important;
    padding: 5px;
}
.comment-form-error, .issue-form-error {
    color: #AA0000;
    font-weight: bold;
    margin: -15px 0 15px;
}
.comment-form {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: -10px 0 10px;
    padding: 5px;
}
.comment-form textarea {
    height: 100px;
    margin: 0;
    width: 100%;
}
.comment-form p.help {
    color: #666666;
    float: right;
    font-size: 11px;
    margin: 3px 0 0;
}
.comment-form ul.tabs {
    margin: 0 0 5px;
}
.comment-form ul.tabs li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
}
.comment-form ul.tabs a {
    border: 1px solid transparent;
    border-radius: 10px 10px 10px 10px;
    color: #666666;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 8px;
    text-decoration: none;
}
.comment-form ul.tabs a.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #BBBBBB #DDDDDD #DDDDDD #BBBBBB;
    color: #333333;
}
.comment-form .comment {
    margin: 5px 0 0;
}
#header {
    height: 91px;
    margin: 0 auto 15px;
    min-width: 950px;
    width: 958px;
}
#header .logo {
    display: block;
    left: -6px;
    position: relative;
}
#header .logo.boring {
    left: 20px;
    top: 14px;
}
#header .logo img {
    -moz-transition: opacity 0.25s linear 0s;
    left: 0;
    position: absolute;
    top: 0;
}
#header .logo img.hover {
    opacity: 0;
}
#header .logo:hover img.hover {
    opacity: 1;
}
#header .logo img.default {
    opacity: 1;
}
#header .logo:hover img.default {
    opacity: 0;
}
ul.nav {
    font-size: 11px;
    margin: 3px 0 0;
    white-space: nowrap;
}
ul.nav li {
    display: inline;
    list-style-type: none;
    margin: 0 15px 0 0;
}
ul.nav.logged_out {
    font-size: 12px;
    font-weight: bold;
    overflow: auto;
    padding: 8px 3px 8px 2px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
ul.nav.logged_out li {
    background: url("/images/modules/header/nav-rule.png") no-repeat scroll 0 50% transparent;
    float: left;
    margin: 0;
    padding: 0 11px 0 13px;
}
ul.nav.logged_out li:first-child {
    background: none repeat scroll 0 0 transparent;
}
ul.nav.logged_out, .userbox {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.ie7 .userbox, .ie7 ul.nav.logged_out, .ie8 .userbox, .ie8 ul.nav.logged_out {
    border-bottom-color: #DDDDDD;
}
.userbox {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    float: right;
    font-size: 12px;
    padding: 8px 5px 7px 10px;
}
.userbox .avatarname {
    display: inline;
    font-weight: bold;
    padding-right: 6px;
}
.userbox .avatarname img {
    border: 1px solid #FFFFFF;
    margin-right: 3px;
    margin-top: -3px;
    vertical-align: middle;
}
#header .userbox .avatarname a {
    color: #000000;
}
ul.usernav {
    display: inline;
    font-weight: bold;
    margin: 0;
}
ul.usernav li {
    background: url("/images/modules/header/nav-rule.png") no-repeat scroll 0 50% transparent;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0 8px 0 9px;
}
ul.usernav li a {
    text-shadow: 1px 1px 0 #FFFFFF;
}
#header a.unread_count {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    color: #999999;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-left: 2px;
    padding: 1px 5px;
    text-decoration: none;
    text-shadow: none;
}
#header a.unread_count.new {
    background-color: #4183C4;
    color: #FFFFFF;
}
#header a.unread_count.notifications_count {
    display: none;
}
#header a.unread_count.new.notifications_count {
    background-color: #666666;
    display: inline-block;
}
.topsearch {
    clear: right;
    float: right;
    margin-top: 9px;
    width: 500px;
}
.topsearch form, .topsearch ul.nav {
    float: right;
}
.topsearch form input.button {
    display: none;
}
.topsearch form .advanced-search {
    background: url("/images/modules/header/advanced_search_icon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    opacity: 0.2;
    text-indent: -9999px;
    width: 16px;
}
.topsearch form .advanced-search:hover {
    opacity: 0.5;
}
.topsearch form input.search {
    font-size: 16px;
    width: 180px;
}
.topsearch form input.search.notnative {
    background: url("/images/modules/header/search_field.gif") no-repeat scroll 0 -22px transparent;
    border: medium none;
    font-size: 12px;
    height: 16px;
    padding: 4px 10px 2px 21px;
    width: 149px;
}
.topsearch form input.search.notnative.placeholder {
    background-position: 0 0;
}
#site_alert {
    background-color: #FCFCFC;
    border-bottom: 1px solid #555555;
}
#site_alert p {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}
.global-notice {
    background: url("/images/modules/account/global_notice-background.gif") repeat-x scroll 0 100% #C10000;
    border-top: 2px solid #FF8A00;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
}
.global-notice h2 {
    font-size: 14px;
    margin: 0;
}
.global-notice p {
    margin: 0;
}
.global-notice a {
    color: #FFFB82;
    text-decoration: underline;
}
.highlight {
    background: none repeat scroll 0 0 #FFFFFF;
}
.highlight .c {
    color: #999988;
    font-style: italic;
}
.highlight .err {
    background-color: #E3D2D2;
    color: #A61717;
}
.highlight .k {
    font-weight: bold;
}
.highlight .o {
    font-weight: bold;
}
.highlight .cm {
    color: #999988;
    font-style: italic;
}
.highlight .cp {
    color: #999999;
    font-weight: bold;
}
.highlight .c1 {
    color: #999988;
    font-style: italic;
}
.highlight .cs {
    color: #999999;
    font-style: italic;
    font-weight: bold;
}
.highlight .gd {
    background-color: #FFDDDD;
    color: #000000;
}
.highlight .gd .x {
    background-color: #FFAAAA;
    color: #000000;
}
.highlight .ge {
    font-style: italic;
}
.highlight .gr {
    color: #AA0000;
}
.highlight .gh {
    color: #999999;
}
.highlight .gi {
    background-color: #DDFFDD;
    color: #000000;
}
.highlight .gi .x {
    background-color: #AAFFAA;
    color: #000000;
}
.highlight .go {
    color: #888888;
}
.highlight .gp {
    color: #555555;
}
.highlight .gs {
    font-weight: bold;
}
.highlight .gu {
    color: #800080;
    font-weight: bold;
}
.highlight .gt {
    color: #AA0000;
}
.highlight .kc {
    font-weight: bold;
}
.highlight .kd {
    font-weight: bold;
}
.highlight .kp {
    font-weight: bold;
}
.highlight .kr {
    font-weight: bold;
}
.highlight .kt {
    color: #445588;
    font-weight: bold;
}
.highlight .m {
    color: #009999;
}
.highlight .s {
    color: #DD1144;
}
.highlight .na {
    color: #008080;
}
.highlight .nb {
    color: #0086B3;
}
.highlight .nc {
    color: #445588;
    font-weight: bold;
}
.highlight .no {
    color: #008080;
}
.highlight .ni {
    color: #800080;
}
.highlight .ne {
    color: #990000;
    font-weight: bold;
}
.highlight .nf {
    color: #990000;
    font-weight: bold;
}
.highlight .nn {
    color: #555555;
}
.highlight .nt {
    color: #000080;
}
.highlight .nv {
    color: #008080;
}
.highlight .ow {
    font-weight: bold;
}
.highlight .w {
    color: #BBBBBB;
}
.highlight .mf {
    color: #009999;
}
.highlight .mh {
    color: #009999;
}
.highlight .mi {
    color: #009999;
}
.highlight .mo {
    color: #009999;
}
.highlight .sb {
    color: #DD1144;
}
.highlight .sc {
    color: #DD1144;
}
.highlight .sd {
    color: #DD1144;
}
.highlight .s2 {
    color: #DD1144;
}
.highlight .se {
    color: #DD1144;
}
.highlight .sh {
    color: #DD1144;
}
.highlight .si {
    color: #DD1144;
}
.highlight .sx {
    color: #DD1144;
}
.highlight .sr {
    color: #009926;
}
.highlight .s1 {
    color: #DD1144;
}
.highlight .ss {
    color: #990073;
}
.highlight .bp {
    color: #999999;
}
.highlight .vc {
    color: #008080;
}
.highlight .vg {
    color: #008080;
}
.highlight .vi {
    color: #008080;
}
.highlight .il {
    color: #009999;
}
.type-csharp .highlight .k {
    color: #0000FF;
}
.type-csharp .highlight .kt {
    color: #0000FF;
}
.type-csharp .highlight .nf {
    color: #000000;
    font-weight: normal;
}
.type-csharp .highlight .nc {
    color: #2B91AF;
}
.type-csharp .highlight .nn {
    color: #000000;
}
.type-csharp .highlight .s {
    color: #A31515;
}
.type-csharp .highlight .sc {
    color: #A31515;
}
#readme {
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
}
#readme.announce {
    margin: 1em 0;
}
#readme span.name {
    font-size: 140%;
    padding: 0.8em 0;
}
#readme div.plain, #readme div.wikistyle {
    background-color: #F8F8F8;
    padding: 0.7em;
}
#readme.announce div.plain, #readme.announce div.wikistyle {
    border: 1px solid #E9E9E9;
}
#readme.blob div.plain, #readme.blob div.wikistyle {
    border-top: medium none;
}
#readme div.plain pre {
    color: #444444;
    font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
    font-size: 85%;
    white-space: pre-wrap;
    width: 74em;
    word-wrap: break-word;
}
#missing-readme {
    background-color: #FFFFCC;
    border: 1px solid #CCCCCC;
    font: 13.34px helvetica,arial,freesans,clean,sans-serif;
    padding: 0.7em;
    text-align: center;
}
#readme.rst .borderless, #readme.rst table.borderless td, #readme.rst table.borderless th {
    border: 0 none;
}
#readme.rst table.borderless td, #readme.rst table.borderless th {
    padding: 0 0.5em 0 0 !important;
}
#readme.rst .first {
    margin-top: 0 !important;
}
#readme.rst .last, #readme.rst .with-subtitle {
    margin-bottom: 0 !important;
}
#readme.rst .hidden {
    display: none;
}
#readme.rst a.toc-backref {
    color: black;
    text-decoration: none;
}
#readme.rst blockquote.epigraph {
    margin: 2em 5em;
}
#readme.rst dl.docutils dd {
    margin-bottom: 0.5em;
}
#readme.rst div.abstract {
    margin: 2em 5em;
}
#readme.rst div.abstract p.topic-title {
    font-weight: bold;
    text-align: center;
}
#readme.rst div.admonition, #readme.rst div.attention, #readme.rst div.caution, #readme.rst div.danger, #readme.rst div.error, #readme.rst div.hint, #readme.rst div.important, #readme.rst div.note, #readme.rst div.tip, #readme.rst div.warning {
    border: medium outset;
    margin: 2em;
    padding: 1em;
}
#readme.rst div.admonition p.admonition-title, #readme.rst div.hint p.admonition-title, #readme.rst div.important p.admonition-title, #readme.rst div.note p.admonition-title, #readme.rst div.tip p.admonition-title {
    font-family: sans-serif;
    font-weight: bold;
}
#readme.rst div.attention p.admonition-title, #readme.rst div.caution p.admonition-title, #readme.rst div.danger p.admonition-title, #readme.rst div.error p.admonition-title, #readme.rst div.warning p.admonition-title {
    color: red;
    font-family: sans-serif;
    font-weight: bold;
}
#readme.rst div.dedication {
    font-style: italic;
    margin: 2em 5em;
    text-align: center;
}
#readme.rst div.dedication p.topic-title {
    font-style: normal;
    font-weight: bold;
}
#readme.rst div.figure {
    margin-left: 2em;
    margin-right: 2em;
}
#readme.rst div.footer, #readme.rst div.header {
    clear: both;
    font-size: smaller;
}
#readme.rst div.line-block {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}
#readme.rst div.line-block div.line-block {
    margin-bottom: 0;
    margin-left: 1.5em;
    margin-top: 0;
}
#readme.rst div.sidebar {
    background-color: #FFFFEE;
    border: medium outset;
    clear: right;
    float: right;
    margin: 0 0 0.5em 1em;
    padding: 1em;
    width: 40%;
}
#readme.rst div.sidebar p.rubric {
    font-family: sans-serif;
    font-size: medium;
}
#readme.rst div.system-messages {
    margin: 5em;
}
#readme.rst div.system-messages h1 {
    color: red;
}
#readme.rst div.system-message {
    border: medium outset;
    padding: 1em;
}
#readme.rst div.system-message p.system-message-title {
    color: red;
    font-weight: bold;
}
#readme.rst div.topic {
    margin: 2em;
}
#readme.rst h1.section-subtitle, #readme.rst h2.section-subtitle, #readme.rst h3.section-subtitle, #readme.rst h4.section-subtitle, #readme.rst h5.section-subtitle, #readme.rst h6.section-subtitle {
    margin-top: 0.4em;
}
#readme.rst h1.title {
    text-align: center;
}
#readme.rst h2.subtitle {
    text-align: center;
}
#readme.rst hr.docutils {
    width: 75%;
}
#readme.rst img.align-left, #readme.rst .figure.align-left, #readme.rst object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}
#readme.rst img.align-right, #readme.rst .figure.align-right, #readme.rst object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}
#readme.rst img.align-center, #readme.rst .figure.align-center, #readme.rst object.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#readme.rst .align-left {
    text-align: left;
}
#readme.rst .align-center {
    clear: both;
    text-align: center;
}
#readme.rst .align-right {
    text-align: right;
}
#readme.rst div.align-right {
    text-align: left;
}
#readme.rst ol.simple, #readme.rst ul.simple {
    margin-bottom: 1em;
}
#readme.rst ol.arabic {
    list-style: decimal outside none;
}
#readme.rst ol.loweralpha {
    list-style: lower-alpha outside none;
}
#readme.rst ol.upperalpha {
    list-style: upper-alpha outside none;
}
#readme.rst ol.lowerroman {
    list-style: lower-roman outside none;
}
#readme.rst ol.upperroman {
    list-style: upper-roman outside none;
}
#readme.rst p.attribution {
    margin-left: 50%;
    text-align: right;
}
#readme.rst p.caption {
    font-style: italic;
}
#readme.rst p.credits {
    font-size: smaller;
    font-style: italic;
}
#readme.rst p.label {
    white-space: nowrap;
}
#readme.rst p.rubric {
    color: maroon;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
#readme.rst p.sidebar-title {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}
#readme.rst p.sidebar-subtitle {
    font-family: sans-serif;
    font-weight: bold;
}
#readme.rst p.topic-title {
    font-weight: bold;
}
#readme.rst pre.address {
    font: inherit;
    margin-bottom: 0;
    margin-top: 0;
}
#readme.rst pre.literal-block, #readme.rst pre.doctest-block {
    margin-left: 2em;
    margin-right: 2em;
}
#readme.rst span.classifier {
    font-family: sans-serif;
    font-style: oblique;
}
#readme.rst span.classifier-delimiter {
    font-family: sans-serif;
    font-weight: bold;
}
#readme.rst span.interpreted {
    font-family: sans-serif;
}
#readme.rst span.option {
    white-space: nowrap;
}
#readme.rst span.pre {
    white-space: pre;
}
#readme.rst span.problematic {
    color: red;
}
#readme.rst span.section-subtitle {
    font-size: 80%;
}
#readme.rst table.citation {
    border-left: 1px solid gray;
    margin-left: 1px;
}
#readme.rst table.docinfo {
    margin: 2em 4em;
}
#readme.rst table.docutils {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#readme.rst table.footnote {
    border-left: 1px solid black;
    margin-left: 1px;
}
#readme.rst table.docutils td, #readme.rst table.docutils th, #readme.rst table.docinfo td, #readme.rst table.docinfo th {
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: top;
}
#readme.rst table.docutils th.field-name, #readme.rst table.docinfo th.docinfo-name {
    font-weight: bold;
    padding-left: 0;
    text-align: left;
    white-space: nowrap;
}
#readme.rst h1 tt.docutils, #readme.rst h2 tt.docutils, #readme.rst h3 tt.docutils, #readme.rst h4 tt.docutils, #readme.rst h5 tt.docutils, #readme.rst h6 tt.docutils {
    font-size: 100%;
}
#readme.rst ul.auto-toc {
    list-style-type: none;
}
