.tip_form {
    z-index: 1000;
    text-align: left;    
    border-radius: 4px;    
    -moz-border-radius: 4px;    
    -webkit-border-radius: 4px;    
    padding: 8px 8px;    
    max-width: 400px;    
    color: black    ;    
    border: 2px solid #DDDDDD;
    background-color: white;    
    text-align: left;    
    font-size: 12px;
}
.tip_form .tip-inner {    
    font-size: 100%;
}
.tip_form .tip-arrow-top {    
    margin-top: -5px;    
    margin-left: -5px; 
    /* approx. half the width to center it */    
    top: 0;    
    left: 50%;    
    width: 9px;    
    height: 5px;
}
.tip_form .tip-arrow-right {    
    margin-top: -4px; 
    /* approx. half the height to center it */    
    margin-left: 0;    
    top: 50%;    
    left: 100%;    
    width: 5px;    
    height: 9px;
}
.tip_form .tip-arrow-bottom {    
    margin-top: 0;    
    margin-left: -5px; 
    /* approx. half the width to center it */    
    top: 100%;    
    left: 50%;    
    width: 9px;    
    height: 5px;
}
.tip_form .tip-arrow-left {    
    margin-top: -4px; 
    /* approx. half the height to center it */    
    margin-left: -5px;    
    top: 50%;    
    left: 0;    
    width: 5px;    
    height: 9px;
}

.minibutton {
    
    background-color: white;
    border: 1px solid #D4D4D4;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    overflow: visible;
    padding: 0 0 0 3px;
    position: relative;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}
button.minibutton {
    height: 23px;
}
.minibutton.lighter, .minibutton.lighter.disabled {
    background: -moz-linear-gradient(center top , #FAFAFA, #DDDDDD) repeat scroll 0 0 transparent;
    border: medium none;
    color: #333333;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.minibutton.green {
    background: -moz-linear-gradient(center top , #36B825, #28881B) repeat scroll 0 0 transparent;
    border-color: #4A993E;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton.blue {
    background: -moz-linear-gradient(center top , #448DA6, #32687B) repeat scroll 0 0 transparent;
    border-color: #275666;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

button.minibutton::-moz-focus-inner {
    margin: -1px -3px;
}
.minibutton.danger {
    color: #990000;
}
.minibutton > span {
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 0 9px 0 7px;
}
.minibutton:hover {
    background: -moz-linear-gradient(center top , #599BDC, #3072B3) repeat scroll 0 0 transparent;
    background-color: #4183C4;
    border-color: #518CC6 #518CC6 #2A65A0;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}
.minibutton.mousedown {
    background: -moz-linear-gradient(center top , #3072B3, #599BDC) repeat scroll 0 0 transparent;
    border-color: #2A65A0 #2A65A0 #518CC6;
}
.minibutton.danger:hover {
    background: -moz-linear-gradient(center top , #DC5F59, #B33630) repeat scroll 0 0 transparent;
    border-color: #C65651 #C65651 #A0302A;
}
.minibutton.danger.mousedown {
    background: -moz-linear-gradient(center top , #B33630, #DC5F59) repeat scroll 0 0 transparent;
    border-color: #A0302A #A0302A #C65651;
}
.minibutton.disabled {
    opacity: 0.5;
}
.minibutton.selected {
    background: -moz-linear-gradient(center top , #767676, #9E9E9E) repeat scroll 0 0 transparent;
    border-color: #686868;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
.btn-admin .icon, .btn-watch .icon, .btn-download .icon, .btn-pull-request .icon, .btn-fork .icon, .btn-leave .icon, .btn-compare .icon, .btn-reply .icon, .btn-back .icon, .btn-forward .icon {
    background: url("/images/modules/buttons/minibutton_icons.png?v20100306") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    margin-left: -4px;
    position: relative;
    top: -1px;
    width: 18px;
}
.big-actions .minibutton, .minibutton.bigger {
    font-size: 12px;
    height: 24px;
    padding: 0 0 0 3px;
}
.big-actions .minibutton > span, .minibutton.bigger > span {
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 8px;
}